<html>
<head>
  <title>Student Login</title>
  {% load static %}
  {% load bootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
</head>
<body>
  <div>
    Student Login Here
    {% if not_found %}
    <p>User Not Found</p>
    {% endif %}
      <form name="form" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% for field in bootstrap_form %}
          {% bootstrap_field field %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Login
        </button>
      </form>
  </div>
</body>
</html>
